/* Duke Default Skin Sakai 12.0 */

/* ==================================================================
*
*   Variables
*
* -----------------------------------------------------------------*/
//http://chir.ag/projects/name-that-color
$white: #fff;
$mine-shaft: #262626;
$ebb: #E8E5E2;
$duke-blue: #001A57;
$midnight-blue: #003366;
$klein: #0736A4;
$matisse: #235F9C;
$lochmara: #0680CD;
$armadillo: #3d362f;
$sisal: #DAD0C6;
$california: #F09905;
$wheat: #F6EAB8;

// $background-color-secondary: $klein;
// $tool-background-color: $white;
// $button-background-color: $ebb;
// $button-color-text-color: $white;
// $button-color-border-color: $duke-blue;
// $button-color-background-color: $klein;
// $button-color-background-secondary-color: $duke-blue;
// $btn-default-bg: $klein;
// $button-gradiant: false;
// $primary-color: $duke-blue;
// $secondary-color: $klein;
// $text-color: $mine-shaft;
// $link-color: $klein;
// $link-background-color:;
// $link-hover-color:$duke-blue;
// $link-hover-background-color:;
// $link-active-color:;
// $link-active-background-color:;
// $breadcrumbs-tool-color: $duke-blue;

// $toolMenuBGColor: $ebb;
// $toolMenuColor: $duke-blue;
// $toolTabBGColor: $ebb;
// $toolBorderColor: $sisal;

// $warncolor: $wheat;

// $calendar-event-background-color: lighten($klein, 60%);
// $calendar-event-text-color:;

$logo: '/library/skin/duke-default/images/dukeLogo.png';
$logo-height: 43px;
$logo-width: 87px;

$header-gradient-a: $midnight-blue;
$header-gradient-b: $midnight-blue;
$header-gradient-c: $midnight-blue;
$header-gradient-d: $midnight-blue;

/* ==================================================================
*
*   UX Patterns STyles
*
* -----------------------------------------------------------------*/
@import "base/icons";

.icon-sakai-blogwow {
	@extend .fa-book;
}
.icon-sakai-help{
	@extend .fa-info-circle;
}
.icon-sakai-piazza {
	@extend .fa-question-circle;
}
.icon-sakai-playposit {
	@extend .fa-lightbulb-o;
}
.icon-sakai-qna {
	@extend .fa-question-circle-o;
}
.icon-sakai-simple-rss {
	@extend .fa-rss;
}
.icon-sakai-voicethread {
	@extend .fa-microphone;
}
.icon-sakai-warpwire {
	@extend .fa-play-circle;
}

// .bs-callout-warn,
// .#{$namespace}sakai-forums .topicBlocLone,
// .bs-callout-alert,
// .messageWarning,
// .messageConfirmation {
//   border-color: darken($wheat, 30%) !important;
//   border-left-color: darken($wheat, 30%) !important;
//   color: darken($wheat, 60%) !important;
//   background-color: $wheat !important;
// }

// .ui-state-active,
// .ui-widget-content .ui-state-active,
// .ui-widget-header .ui-state-active,
// .ui-accordion .ui-accordion-header {
// 	border-color:$klein !important;
// 	background-color: lighten($klein, 60%) !important;
// 	color:$duke-blue !important;
// }

// .ui-state-active a,
// .ui-state-active a:link,
// .ui-state-active a:visited {
// 	color:$duke-blue !important;
// }
// .ui-state-active .ui-icon {
//     background-image: url("images/ui-icons_777777_256x240.png") !important;
// }
// .editable-empty,
// .editable-empty:hover,
// .editable-empty:focus {
// 	color: $duke-blue !important;
// }

// .bs-callout-primary,
// .validationEmbedded,
// .validation,
// .bs-callout-info,
// .messageInformation,
// .messageInstruction,
// .messageProgress,
// .instruction {
// 	border-color:$klein !important;
// 	background-color: lighten($klein, 60%) !important;
// 	color:$duke-blue !important;
// }

// li.inputItem {
// 	border:1px solid $ebb !important;
// }

// .longtext {
// 	textarea {
// 		border:1px solid $ebb !important;
// 	}
// }
// .navIntraTool{
// 	li {
// 		span {
// 			a{
// 				color:$armadillo !important;
// 			}
// 		}
// 	}
// }
// .#{$namespace}toolTitleNav{
// 	.#{$namespace}toolTitleNav__link{
// 		color: $armadillo !important;
// 		background: $ebb !important;
// 		border-color: $sisal !important;
// 		line-height: 1.25 !important;
// 		padding: 6px 10px !important;
// 		&:hover {
// 			background: $white !important;
// 		}
// 	}
// 	.#{$namespace}toolTitleNav__button_container{
// 		top: 7px !important;
// 		margin-bottom:0px !important;
// 		@media #{$phone}{
// 			top: 0 !important;
// 		}
// 	}
// }
// .#{$namespace}siteStatus{
// 	&.is-unpublished{
// 		background:$warncolor !important;
// 		border-bottom-color:darken($warncolor, 10%) !important;
// 	}
// }

/* ==================================================================
*
*   mainHeader Styles
*
* -----------------------------------------------------------------*/
// .#{$namespace}portalWrapper{
// 	&.swapped-view{
// 		.#{$namespace}topHeader{
// 			background: $california !important;
// 		}
// 	}
// }
// #mastLogin{
// 	.view-all-sites-btn {
// 		padding:.4em !important;
// 		margin: .5em 0 0 0 !important;
// 		a{
// 			padding: .5em !important;
// 			border-radius: 2px !important;
// 			&:hover{
// 				color:$white !important;
// 				background:$duke-blue !important;
// 			}
// 		}
// 	}
// 	.#{$namespace}userNav{
// 		padding:.4em !important;
// 		margin: 0 !important;
// 		.no-avatar{
// 			padding:.5em !important;
// 			margin: 0 !important;
// 			border-radius: 2px !important;
// 			text-decoration: none !important;
// 			&:hover{
// 				color:$white !important;
// 				background:$duke-blue !important;
// 				text-decoration:none !important;
// 			}
// 			.#{$namespace}userNav__submenuitem--username,
// 			.#{$namespace}userNav__submenuitem--userid,
// 			.#{$namespace}userNav__submenuitem--username,
// 			.#{$namespace}userNav__submenuitem--userid {
// 				top:0 !important;
// 				display:inline !important;
// 			}
// 			.has-avatar{

// 			}
// 		}
// 	}
// }

/* ==================================================================
*
*   siteHierarchy Styles
*
* -----------------------------------------------------------------*/
// .#{$namespace}siteHierarchy{
// 	box-shadow:none !important;
// 	border-bottom: 1px solid darken( $duke-blue, 10% ) !important;
// 	color:$white !important;
// 	a{
// 		color: $white !important;
// 	}
// 	.#{$namespace}hierarchy--toolName{
// 		font-weight: 400 !important;
// 		font-size: 100% !important;
// 	}
// 	@media #{$phone}{
// 		background-color: $midnight-blue !important;
// 		color:$white !important;
// 		a{
// 			color: $white !important;
// 		}
// 	}
// }

// #linkNav{
// 	ul{
// 		li.#{$namespace}sitesNav__menuitem{
// 			a{
// 				background: $klein !important;
// 				color: $white !important;
// 				border-radius: 2px !important;
// 			}
// 			ul{
// 				background: $klein !important;
// 				color: $white !important;
// 				border-top: 1px solid $klein !important;
// 			}
// 			> a:hover{
// 					background: $duke-blue !important;
// 				}
// 			&.is-selected{
// 				a{
// 					background: $ebb !important;
// 					color: $armadillo !important;
// 				}
// 				> a:hover{
// 					background: $duke-blue !important;
// 					color:$ebb !important;
// 				}
// 				ul{
// 					background: $ebb !important;
// 				}
// 			}
// 			&.dropdown-is-visible {
// 				> a{
// 						border-bottom: 1px solid $klein !important;
// 					}
// 				}
// 			&.dropdown-is-visible.is-selected {
// 				> a{
// 					border-bottom: 1px solid $ebb !important;
// 				}
// 			}
// 		}
// 	}
// }

/* ==================================================================
*
*   toolMenuWrap Styles
*
* -----------------------------------------------------------------*/
// #toolMenu, #subSites{
// 	ul{
// 		li{
// 			&.#{$namespace}collapseTools{
// 				height:2em !important;
// 				&:hover{
// 					color: $ebb !important;
// 					background: $midnight-blue !important;
// 				}
// 			}
// 			a {
// 				color:$armadillo !important;
// 				&:hover{
// 					color:$ebb !important;
// 					background: $midnight-blue !important;
// 				}
// 			}
// 			&.is-current{
// 				a{
// 					border-color:$armadillo !important;
// 				}
// 			}
// 		}
// 	}
// }
// body.#{$namespace}toolMenu-collapsed{
// 	#toolMenu, ul#subSites{
// 		ul{
// 			li{
// 				a{
// 					&:hover{
// 						color:$white !important;
// 						.#{$namespace}toolsNav__menuitem--title{
// 							margin-top:-2.2em !important;
// 							padding:.75em !important;
// 							background:$midnight-blue !important;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

/* ==================================================================
*
*   Footer Styles
*
* -----------------------------------------------------------------*/
// .#{$namespace}footer{
// 	color:$armadillo !important;
// }

/* ==================================================================
*
*   Calendar Styles
*
* -----------------------------------------------------------------*/
// .#{$namespace}sakai-schedule {
// 	table.calendar {
// 		background-color: lighten($klein, 60%) !important;
// 		.borderTodayCenter{
// 			background-color: lighten($klein, 60%) !important;
// 		}
// 	}
// }

/* ==================================================================
*
*   Lessons Styles
*
* -----------------------------------------------------------------*/
// .#{$namespace}sakai-lessonbuildertool{
// 	.navIntraTool{
// 		border-bottom: 1px solid $sisal !important;
// 		z-index: auto !important;
// 		#toolbar {
// 			padding:0 !important;
// 		}
// 		li {
// 			display: inline-block !important;
// 			margin-top:0 !important;
// 			top:1px !important;
// 			z-index: auto !important;
// 			height:auto !important;
// 			span {
// 				a{
// 					display: inline-block !important;
// 					height: auto !important;
// 					padding: 6px 10px !important;
// 					line-height: 1.55 !important;
// 					.fa-button-text, img{
// 						display:none !important;
// 					}
// 				}
// 				#edit-title {
// 					margin-left: 0 !important;
// 					.skip {
// 						display: inline !important;
// 						position:static !important;
// 					}
// 				}
// 			}
// 		}
// 		.action{
// 			float:none !important;
// 			a{
// 				color: $armadillo !important;
// 		    background: $ebb !important;
// 		    border: 1px solid $sisal !important;
// 		    line-height: 1.55 !important;
// 		    padding: 6px 10px !important;
// 		    margin-right:.25em !important;
// 		    text-decoration:none !important;
// 		    font-size: .8em !important;
// 		    text-transform: uppercase !important;
// 		    letter-spacing: 1.2px !important;
// 		    display: inline-block !important;
// 		    top:1px !important;
// 		    position:relative !important;
// 			}
// 		}
// 		.col-md-6{
// 			background:#000 !important;
// 		}
// 	}
// 	@media #{$phone}{
// 		.navIntraTool{
// 			#toolbar {
// 				margin-bottom:0 !important;
// 			}
// 			li {
// 				span {
// 					a{
// 						background: $ebb !important;
// 						border: 1px solid $sisal !important;
// 					}
// 				}
// 			}
// 			.action{
// 				margin-top:0 !important;
// 				a{
// 					color: #777 !important;
// 					font-size: 12px !important;
// 					letter-spacing: 0.8px !important;
// 					line-height: 18px !important;
// 					margin: 0.5em 0.8em 0.5em 0 !important;
// 					padding: 0.4em 0.8em 0.45em 0.8em !important;
// 					text-decoration: none !important;
// 					border-radius: 3px !important;
// 				}
// 			}
// 		}
// 	}
// }


/* ==================================================================
*
*   Samigo Styles
*
* -----------------------------------------------------------------*/
// .#{$namespace}sakai-samigo #samigo-create-new-box,
// .#{$namespace}sakai-samigo #samigo-create-import-box {
// 	border:none !important;
// 	background-color: $white !important;
// }
/* ==================================================================
*
*   Responsive Only Styles
*
* -----------------------------------------------------------------*/
// body{
// 	&.#{$namespace}portalBody{
// 		@media #{$phone}{
// 			background: $background-color !important;
// 		}
// 	}
// }

/* ==================================================================
*
*   Fixes
*
* -----------------------------------------------------------------*/
// .#{$namespace}multipleTools{
// 	.#{$namespace}toolTitleNav{
// 		.#{$namespace}toolTitleNav__title{
// 			z-index:1 !important;
// 		}
// 	}
// }

