
@import "defaults";
a[href]:focus, a[href]::-moz-focus-inner {
	outline:1px solid $california;
}
#topnav_container {
	padding: .5em 1em;
}
#linkNav ul li.#{$namespace}sitesNav__menuitem {
	border-radius:$button-radius;
}
#selectSite,
#selectQuickLink  {
	.tab-bar {
		.tab-btn{
			background:$background-color;
			border-color:$background-color;
			&.active{
				background:$white;
			}
		}
	}
}
#toolMenuWrap {
	border-right:none;
	box-shadow: $overview-portlet-shadow;
	margin:1em .5em 1em 1em;
	padding:0;
}
#toolMenu,
#subSites,
.floatingToolMenu {
	ul {
		li {
			.#{$namespace}toolsNav__menuitem--link {
				&.is-invisible {
					.#{$namespace}toolsNav__menuitem--icon {
						font-style: normal;
					}
				}
			}
		} 
	} 
} 
@media only screen and (min-width: 801px) {
	.#{$namespace}collapseTools button.js-toggle-nav {
		text-align: center;
	}
}

#toolMenu,
#subSites,
.floatingToolMenu {
	ul {
		li {
			list-style-type: none;
			&.is-current {
				margin-right:0;

				.#{$namespace}toolsNav__menuitem--link {
					.#{$namespace}toolsNav__menuitem--title {
						font-weight: 400;
					}
				}
			}
			&.#{$namespace}collapseTools {
				margin:1em;
			}
			.#{$namespace}toolsNav__menuitem--link {
				&.is-invisible{
					font-style:normal;
					&::after{
						top:13px;
					}
				}
			}
		}
	}
}


.navIntraTool {
	// border-bottom:none;
	background: $background-color;
	margin-left:-15px;
	//target tools without 'default tabs'
	.#{$namespace}sakai-siteinfo &,
	.#{$namespace}sakai-chat &,
	.#{$namespace}sakai-forums &,
	.#{$namespace}sakai-mailbox &,
	.#{$namespace}sakai-messages &,
	.#{$namespace}sakai-poll &,
	.#{$namespace}sakai-postem &,
	.#{$namespace}sakai-signup &,
	.#{$namespace}sakai-sitestats &,
	.#{$namespace}sakai-syllabus &,
	.#{$namespace}sakai-rwiki & {
		border-top: 1px solid rgba(0,0,0,0.05);
	}
	li {
		
		span {
			
			&.current{
				border-bottom:none;
    			border-left:1px solid rgba(0,0,0,0.1);
				border-right:1px solid rgba(0,0,0,0.1);
				&::before {
					border-radius:$button-radius $button-radius 0 0;
					border-top-color: $endeavour;
				}
				a {
					
					&:hover {
						background:$white;
						&::before{
							top:-2px;
							border-top-color: $endeavour;
						}
					}
				}
			}
			a {
				background:$background-color;
				border-color:$background-color;
			}
		}
	}
}

.#{$namespace}siteHierarchy{
	background: $background-color;
}
.#{$namespace}mainHeader{
	box-shadow: $overview-portlet-shadow;
	&.is-maximized{
		.siteNavWrap{
			box-shadow: none;
		}
	}
}
#selectSite,
#selectQuickLink {
	.tab-bar{
		.tab-btn.active {
			border-radius: $button-radius;
		}
	}
}

.#{$namespace}toolTitleNav {
	.#{$namespace}toolTitleNav__link {
		.#{$namespace}itemTitle {
			display: none;
		}
	}
}
.portletBody {
	box-shadow: $overview-portlet-shadow;
}
.#{$namespace}multipleTools{
	.#{$namespace}container {
		border:none;
		.portletBody {
			box-shadow:none;
		}
	}
}
.#{$namespace}container--footer {
    background:none;
    box-shadow:none;
    border:none;
    margin-bottom: 1em;
}
.#{$namespace}footer {
	background:$white;
    width:98%;
    margin-left: 1%;
	box-shadow: $overview-portlet-shadow;
}
input[name="cancel"],
input[name="Cancel"],
input[value="Cancel"],
input[value="Clear"],
input[value="Back"]{
	background:	#888;
	border-color: #808080;
	&:hover{
		background: $scorpion;
		border-color: darken($scorpion, 10%);
	}
}
.#{$namespace}siteStatus{
	&.is-unpublished {
		margin:0 0 2.4em 1em;
		width:98%;
	}
}
//////////////////////////////////////////////
// SWAPPED View
//////////////////////////////////////////////
@if $swapped-view-enabled {
	.#{$namespace}portalWrapper{
		color: $swapped-view-text-color;
		&.swapped-view{
			.#{$namespace}topHeader{
				background: $swapped-view-primary;
			}
			.#{$namespace}headerLogo{
				background: $swapped-view-primary;
			}
			.#{$namespace}siteHierarchy{
				background: $background-color;
				color: $mine-shaft;
				a {
					color: $endeavour;
				}
			}
			.#{$namespace}mainHeader.is-maximized .siteNavWrap{
				background: $swapped-view-sites-nav-background;
			}
		}
	}
}

//////////////////////////////////////////////
// WORKSPACE / HOME
//////////////////////////////////////////////
.workspace {
	// Hides breadcrumbs in HOME
	// .#{$namespace}pagebody,
	// #toolMenuWrap {
	// 	margin-top:2em;
	// }
	// .navIntraTool {
	// 	padding-right:10%;
	// }
	// .#{$namespace}siteHierarchy {
	// 	a.#{$namespace}hierarchy--toolName {
	// 		display:none;
	// 	}
	// }
	// .#{$namespace}pageColumns--single {
	// 	.#{$namespace}toolTitleNav__button_container {
	// 		top: 0;
	// 		z-index:2;
	// 	}
	// }
	// END Hides breadcrumbs
	.#{$namespace}pageColumns--single {
		.#{$namespace}toolTitleNav__button_container{
			right:0;
		}
	}
	.#{$namespace}multipleTools {
		.#{$namespace}toolTitleNav {
			.#{$namespace}toolTitleNav__title {
				font-size:1em;
			}
			.#{$namespace}container--toolTitleNav {
				padding: .6em 1em;
			}
			.#{$namespace}toolTitleNav__button_container {
				right:14px;
			}
		}

		.#{$namespace}sakai-simple-rss {
			.news-feed {
				padding: 14px;
				.news-items h3 {
					font-size:16px;
				}
				.news-items ul {
					padding:0;
				}
			}
			.#{$namespace}toolTitleNav__title a {
				color:#353535;
				text-decoration:none;
			}
			.news-source {
				display: none;
			}
		}
	}
}
//////////////////////////////////////////////
// LESSONS STYLES
//////////////////////////////////////////////
.#{$namespace}sakai-lessonbuildertool {
	.navIntraTool {
		margin:-14px -14px 0 -15px; 
		min-height:32px;
		border-bottom:1px solid rgba(0,0,0,0.05);
		#toolbar {
			margin:0;
		}
		li span a{
			border-bottom:none;
		}
	}
} 
//////////////////////////////////////////////
//SAMIGO STYLES
//////////////////////////////////////////////
.#{$namespace}sakai-samigo {
	.navIntraTool {
		margin:-15px -15px 0 -15px !important; //important because morpheus default has it
	}
	#samigo-create-new-box,
	#samigo-create-import-box {
		color:$mine-shaft;
		h4 {
			color:$mine-shaft;
			font-weight:400;
			font-size:21px;
		}
	}
	ul.ui-tabs-nav{
		border:none;
		border-bottom:1px solid rgba(0,0,0,0.1);
		background:none;
	}
	.ui-tabs .ui-tabs-nav li.ui-tabs-active {
		background:$white;
		border:1px solid rgba(0,0,0,0.1);
		border-top:4px solid $dovegray;
		border-bottom:1px solid $white;
	}
	.ui-state-active a,
	.ui-state-active a:link,
	.ui-state-active a:visited {
		color:$mine-shaft;
	}
} 
