// Preview plugin
.cke {
	.cke_button__sakaipreview {
		.cke_button__sakaipreview_icon {
			background: url(/library/webjars/ckeditor4/4.16.1/skins/moono-lisa/icons_hidpi.png) no-repeat 0 -1632px !important;
			background-size: 16px !important;
		}
	}
	.cke_toolbox {
		display: flex;
	}
	a.cke_toolbox_collapser {
		order: 1;
		height: 24px;
		width: 24px;
		line-height: 28px;
		margin: 0 6px 0 0;
		padding: 1px;
		color: $text-color;
		border-color: #bcbcbc;
		&:hover,
		&:focus {
			background: #e5e5e5;
		}
		&:active {
			background: #d5d5d5;
		}
		.cke_arrow {
			border-width: 6px;
			border-top-color: $text-color;
			border-bottom-color: transparent;
			margin: 0;
			position: relative;
			top: 2px;
			left: 0;
		}
	}
	a.cke_toolbox_collapser_min {
		.cke_arrow {
			border-left-color: $text-color;
			border-bottom-color: transparent;
			border-top-color: transparent;
			left: 4px;
			top:-2px;
		}
	}
	.cke_combo__format .cke_combo_button,
	.cke_combo__styles .cke_combo_button, {
		border: 1px solid #d1d1d1;
		padding: 0;
	}
	.cke_toolbox_main {
		display: block;
		order: 2;
	}
	.cke_top.min,
	.cke_toolbox.min,
	.cke_toolbox_main.min {
		height: 32px !important; //!important to override inline styles set by ckeditor
		display: block !important;
	}
	.cke_combo__format .cke_combo_text {
		width: 45px; //adjust width to make icons line up across mutliple lines
	}
	.cke_contents {
		background: #fff;
	}
}
#ckeditorPreview.modal {
	.modal-dialog {
		width: 94%;
		max-width: 1200px;
	}

	.sakaipreview-print {
		@extend .fa;
		@extend .fa-print;
	}

	.sakaipreview-close {
		@extend .fa;
		@extend .fa-times;
	}
}

.cke_inner.cke_reset.cke_maximized {
	position: fixed !important;
}
.cke_button_label.cke_button__templates_label {
	display: inline;
}
.cke_dialog_contents_body .cke_tpl_list {
	height: 430px !important;
}
.cke_tpl_preview .cke_tpl_preview_img {
	width: 50px !important;
}
.cke_tpl_preview span{
	&.template-icon{
		font-family: FontAwesome;
		font-size: 3em;
		width: 50px;
		float: left;
		padding: 0px 5px 10px 0px;
		text-align: center;
	}
}

.cke_dialog_container {
	z-index: 100010 !important;
}
