/* Duke CRTP Skin Sakai 11.x */
@import "/Users/mg287/Dropbox/Dev/svn/trunk/www.local.dev/sakai/11.x-skins/dev/skin-duke-default/_customization.scss";

$logo: '/library/skin/duke-crtp/images/somLogo.png';
// $logo: 'http://www.local.dev/sakai/skin-duke-crtp/images/crtpLogo.png';
$logo-height: 43px;
$logo-width: 87px;

