/* Duke Color palette */
$navy: #012169;
$royal: #005199;
$dodger: #0E99F0;
$frenchpass: #cce7fe;
$bay: #243a82;
$copper: #c64c00;
$persimmon: #E89923;
$dandelion: #FFD960;
$piedmont: #A1B70D;
$eno: #339898;
$magnolia: #1D6363;
$prussian: #005587;
$shale: #0577B1;
$ironweed: #993399;
$sakai-red: #cc000a;
$hatteras: #E2E6ED;
$ginger: #FCF7E5;
$dogwood: #988675;
$shackleford: #DAD0C6;
$white: #fff;
$alabaster: #fafafa;
$athens: #F8F9FA;
$whisper: #F3F2F1;
$wildsand: #f5f5f5;
$gallery: #eee;
$limestone: #E5E5E5;
$alto: #dcdcdc;
$granite: #B5B5B5;
$graphite: #666666;
$castiron: #262626;

$font-family-url: "https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700";
@import url(#{$font-family-url});

:root {
    @include defineColorHSL(--duke-navy, 222, 98%, 21%);
    --logo: url(#{$skin-path}images/logo-duke-u@2x.png);
    --logo-height: 36px;
    --logo-width: 81px;
    --sakai-primary-color-1: var(--duke-navy);
    --sakai-primary-color-2: var(--duke-navy--darker-2);
    --sakai-primary-color-3: var(--duke-navy--darker-3);
    --sakai-active-color-1: var(--duke-navy--lighter-6);
    --sakai-active-color-2: var(--duke-navy--lighter-5);
    --sakai-active-color-3: var(--duke-navy--lighter-4);
    --sakai-text-color-3: var(--duke-navy--darker-3);
}
