/* Duke Color palette */
$navy: #012169;
$royal: #005199;
$dodger: #0E99F0;
$frenchpass: #cce7fe;
$bay: #243a82;
$copper: #c64c00;
$persimmon: #E89923;
$dandelion: #FFD960;
$piedmont: #A1B70D;
$eno: #339898;
$magnolia: #1D6363;
$prussian: #005587;
$shale: #0577B1;
$ironweed: #993399;
$sakai-red: #cc000a;
$hatteras: #E2E6ED;
$ginger: #FCF7E5;
$dogwood: #988675;
$shackleford: #DAD0C6;
$white: #fff;
$alabaster: #fafafa;
$athens: #F8F9FA;
$whisper: #F3F2F1;
$wildsand: #f5f5f5;
$gallery: #eee;
$limestone: #E5E5E5;
$alto: #dcdcdc;
$granite: #B5B5B5;
$graphite: #666666;
$castiron: #262626;
$primary-color: $navy;
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.4em;
}

.bg-navy,
.bg-copper,
.bg-dandelion,
.bg-piedmont,
.bg-magnolia,
.bg-ironweed,
.bg-hatteras,
.bg-primary,
.bg-info,
.bg-warning,
.bg-danger,
.bg-success {
    padding: 5px;
    border-radius: 4px;
    &,
    &[style],
    span[style] {
        color: $castiron;
    }
}
span.bg-navy,
span.bg-copper,
span.bg-dandelion,
span.bg-piedmont,
span.bg-magnolia,
span.bg-ironweed,
span.bg-hatteras,
span.bg-primary,
span.bg-info,
span.bg-warning,
span.bg-danger,
span.bg-success {
    padding: 0 5px;
}
.bg-navy {
    background: $navy;
}
.bg-copper {
    background: $copper;
}
.bg-dandelion {
    background: $dandelion;
}
.bg-piedmont {
    background: $piedmont;
}
.bg-magnolia {
    background: $magnolia;
}
.bg-ironweed {
    background: $ironweed;
}
.bg-primary {
    background-color: var(--duke-navy);
}
.bg-dimmed {
    background-color: $hatteras;
}
.bg-danger {
    // background-color: $sakai-red;
}
.bg-ironweed,
.bg-copper,
.bg-navy,
.bg-primary,
// .bg-danger,
.bg-magnolia{
    &,
    &[style],
    span[style] {
        color: #fff;
    }
}

body.cke_editable {
    padding: 16px;
}
// stylesdropdown
.cke_panel_listItem {
    a[role="option"] {
        text-decoration: none;
    }
    .none,
    .bg-navy,
    .bg-copper,
    .bg-dandelion,
    .bg-piedmont,
    .bg-magnolia,
    .bg-ironweed,
    .bg-hatteras,
    .bg-primary,
    .bg-info,
    .bg-warning,
    .bg-danger,
    .bg-success,
    .bg-dimmed,
    .bg-danger {
        padding: 0;
        font-size: 1em;
        color: $castiron;
    }
    .bg-ironweed,
    .bg-copper,
    .bg-navy,
    // .bg-danger,
    .bg-magnolia {
        color: #fff;
    }
    a[title="Link Button"] {
        background-color: var(--duke-navy);
        color: #fff !important; //sadly have to override a ckeditor style with important
        text-decoration-color: #fff;
    }
}
