@import "/Users/mg287/Dropbox/Dev/svn/trunk/www.local.dev/sakai/11.x-skins/dev/skin-duke-default/_customization.scss";

$samsi-green: #388e3c;
$logo: '/library/skin/duke-samsi/images/samsi-logo.png';
// $logo: 'http://www.local.dev/sakai/skin-duke-samsi/images/samsi-logo.png';
$logo-height: 86px;
$logo-width: 188px;

$header-gradient-a: $samsi-green;
$header-gradient-b: $samsi-green;
$header-gradient-c: $samsi-green;
$header-gradient-d: $samsi-green;

/* ==================================================================
*
*   siteHierarchy Styles
*
* -----------------------------------------------------------------*/
.#{$namespace}topHeader{
	// background: $white url("http://www.local.dev/sakai/skin-duke-samsi/images/background.jpg") repeat-y 0 0 !important;
	background: $white url("/library/skin/duke-samsi/images/background.jpg") repeat-y 0 0 !important;

		a{
			color: $samsi-green !important
		}
}
.#{$namespace}siteHierarchy{
	border-color: darken($samsi-green, 10%) !important;
	a{

	}
	.#{$namespace}hierarchy--toolName{
	}
	@media #{$phone}{
		background-color: $samsi-green !important;
		a{
		}
	}
}

#linkNav{
	ul{
		li.#{$namespace}sitesNav__menuitem{
			a{
				background: $samsi-green !important;
				color: $white !important;
				border-radius: 2px !important;
			}
			ul{
				background: $samsi-green !important;
				color: $white !important;
				border-top: 1px solid $samsi-green !important;
			}
			> a:hover{
					background: darken($samsi-green, 10%) !important;
				}
			&.is-selected{
				a{
					background: darken($samsi-green, 10%) !important;
					color: $ebb !important;
				}
				> a:hover{
					background: darken($samsi-green, 10%) !important;
					color:$ebb !important;
				}
				ul{
					background: darken($samsi-green, 10%) !important;
				}
			}
			&.dropdown-is-visible {
				> a{
						border-bottom: 1px solid $samsi-green !important;
					}
				}
			&.dropdown-is-visible.is-selected {
				> a{
					border-bottom: 1px solid darken($samsi-green, 10%) !important;
				}
			}
		}
	}
}