/* Duke Law Skin Sakai 11.x */
@import "/Users/mg287/Dropbox/Dev/svn/trunk/www.local.dev/sakai/11.x-skins/dev/skin-duke-default/_customization.scss";

$logo: '/library/skin/duke-law/images/law_logo_sm.png';
// $logo: 'http://www.local.dev/sakai/skin-duke-law/images/law_logo_sm.png';
$logo-height: 43px;
$logo-width: 129px;
