/* Duke Nursing Skin Sakai 11.x */
@import "/Users/mg287/Dropbox/Dev/svn/trunk/www.local.dev/sakai/11.x-skins/dev/skin-duke-default/_customization.scss";

$logo: '/library/skin/duke-nursing/images/dusonLogo.png';
// $logo: 'http://www.local.dev/sakai/skin-duke-nursing/images/dusonLogo.png';
$logo-height: 43px;
$logo-width: 166px;
