@import "duke-default";

$logo: 'images/logo-dku.png';
$logo-height: 52px;
$logo-width: 158px;

// Issue 193
// Hide asn honor code so JS can display it after text update
$jumbotron-heading-font-size: 42px;
.Mrphs-sakai-assignment-grades {
    #honor-pledge-agreement {
        display: none;
        margin-bottom: $standard-spacing
    }

}

.Mrphs-sakai-samigo {
    #honor-pledge-agreement {
        h4 {
            font-size: $jumbotron-heading-font-size;
            margin: 0 0 0.5em 0;
        }
        margin-bottom: $standard-spacing;
    }
}