@import "duke-colors";
$primary-color: $bay;
h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.7em;
}
h5 {
    font-size: 1.4em;
}
h4 {
    &.bg-primary,
    &.bg-info,
    &.bg-warning,
    &.bg-danger,
    &.bg-success,
    &.bg-dimmed {
        padding: 4px 8px;
    }
    &.bg-primary {
        background-color: $primary-color;
    }
    &.bg-dimmed {
        background-color: $hatteras;
    }
}
.bg-primary,
.bg-info,
.bg-warning,
.bg-danger,
.bg-success,
.bg-dimmed {
    padding: 4px 8px;
}
.bg-primary {
    background-color: $primary-color;
}
.bg-dimmed {
    background-color: $hatteras;
}
body.cke_editable {
    padding: 16px;
}
// stylesdropdown
.cke_panel_listItem {
    a[role="option"] {
        text-decoration: none;
    }
    .none,
    .bg-primary,
    .bg-info,
    .bg-warning,
    .bg-danger,
    .bg-success,
    .bg-dimmed {
        padding: 0;
        font-size: 1em;
    }
    a[title="Link Button"] {
        background-color: $primary-color;
        color: #fff !important; //sadly have to override a ckeditor style with important
        text-decoration-color: #fff;
    }
}
// switch out paste from word with normal paste if it still works