.#{$namespace}sakai-lessonbuildertool {
	.navIntraTool {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border-bottom: 0px none;
		li {
			span {
				a {
					border-bottom: 1px solid $tool-border-color;
					display: inline-block;
				}
			}
		}

		.nextprev {
			 line-height: 1em;
		}
		.buttomButtons {
			.button:last-of-type {
				@include sakai_primary_button();
			}
		}
	}
	.portletBody > * {
		position: inherit;
		top: 0;
	}
	.mainList {
		list-style: none;
		padding: 0 0 0 0;
	}

	label.checklistLabel.disabled:hover {
		color: $text-color-disabled;
		cursor: not-allowed;
	}

	label.checklistLabel.disabled {
		color: $text-color-disabled;
	}

	.checklist-blur label.checklistLabel.disabled, .checklist-blur label.checklistLabel.disabled:hover {
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
		color: transparent;
	}

	.#{$namespace}toolTitleNav {
		@media #{$phone} {
		       margin-top: 0px;
		       margin-bottom: 10px;
		       margin-right: 10px;
		       top: 14px;
        }
		.menuitem {
			  line-height: 1em;
		}
		.Mrphs-toolTitleNav__link .Mrphs-itemTitle {
            display: none;
		}
		#print-all:after {
			content: "\00a0\f02f\00a0\f02f";
			font:normal normal normal 14px/1 FontAwesome;
		}
    }

	.#{$namespace}toolTitleNav__button_container {
		@media #{$phone} {
			margin-top: -25px;	
		}
	}

	.#{$namespace}hierarchy--separator {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.sectionHeader {
		@media #{$phone} {
		       clear: both;
		       top: 10px;
		}
	}

	#content {
			padding-top: 0;
	}
	.portletBody {
		.column {
			border: $lessons-column-border;
			.contentCol,
			.textbox {
				a {
					&[href]{  // This means a[href]
						color: $link-color;
						text-decoration:underline;
						&:focus{
							outline: $sakai-focus-outline;
							outline-offset: $focus-outline-offset;
						}
						&:hover{
							color: $link-hover-color;
							background-color: $link-hover-background-color;
							text-decoration:underline;
						}
						&:active{
							color: $link-active-color;
							background-color: $link-active-background-color;
							outline: 0;		// no focus outline on click
						}
						&.btn,
						&.btn-default{
							text-decoration: none;
							@include sakai_secondary_button();
						}
						&.btn-primary,
						&.ui-button{
							@include sakai_primary_button();
						}
						
					}
				}
			}
			.commentDiv,
			.studentContentTable,
			.questionDiv .contentCol,
			.checklistDiv,
			.forumSummaryHeaderDiv,
			.announcementsHeaderDiv,
			.fc-toolbar {
				background: #E2E6ED; //Duke $hatteras
				color:$text-color;
				border-radius: $button-radius;
			}
			.question-submit {
				@include sakai_primary_button();
				margin: $standard-spacing $standard-spacing 0 0;
				color: $button-primary-text-color !important;
				&:hover, &:focus {
					color: $button-primary-hover-text-color !important;
				}
				&:active {
					outline: 0;		// no focus outline on click
					color: $button-primary-active-text-color !important;
				}
			}
			&.colblue {
				background: #cce7fe; //Duke $frenchpass
			}
			&.colgray {
				background:#f5f5f5; //Duke $wildsand
			}
			&.colgreen {
				background: lighten(#a1b70d, 55%); //Duke $piedmont
			}
		}
		.mainList {
			div:hover {
				&.canEdit {
					background-color: $lessons-item-hover-background;
					box-shadow: $lessons-item-hover-shadow;
				}
			}
			.canEdit {
				border-top: $lessons-item-border-top;
				border-right: $lessons-item-border-right;
				border-bottom: $lessons-item-border-bottom;
				border-left: $lessons-item-border-left;
		
			}
			div.item,
			div.textType,
			div.multimediaType,
			div.checklistType {
				margin:0;
				padding: calc(#{$standard-spacing} / 2) 0;
			}
			div.item:hover,
			div.item:focus,
			div.item:active {
				.edit-col {
					display: $lessons-item-edit-hover-display;
				}	
			}
			.edit-col {
				display: $lessons-item-edit-display;
			}
		}
	}
	.topaction {
		position: absolute;
		top: 0;
		right: 0;
		.button:last-of-type{
			@include sakai_primary_button();
		}
		@media #{$phone} {
			top: 2em;	
		}	
	}
	.sectionCollapsedIcon {
        display:none !important; //JS somewhere applying inline display styles...
    }
    .collapsibleSectionHeader {
        @include sakai_secondary_button();
		display: block;
		
        .collapseIcon {
            float:left;
            margin-right: $standard-spacing;
            font-size:24px;
			width:$standard-spacing;

            &.fa-toggle-down:before {
                content: "\f0da";
            }
            &.fa-toggle-up:before {
                content: "\f0d7";
            }
        }
    }
}

.#{$namespace}multipleTools {
	.#{$namespace}sakai-lessonbuildertool {
		.#{$namespace}toolTitleNav {
			float: none;
			margin-top: 0;
		}
	}
}

// Lessons tool calendar event pop-up.
div#calendarEventDialog {
	label {
		display: inline-block;
		width: 30%;
	}
	
	span#event-type {
		padding-left: 10px;
	}
	
	#event-description p {
		display: inline-block;
	}

	#event-attachments {
		display: inline-block;
	}

	.eventAttachmentList {
		list-style-type: none;
		padding-left: 0;
		.eventAttachmentFilename {
			padding-left: 10px;
		}
	}
}
