///////////////////////////////////
// bootstrap components
//////////////////////////////////
@mixin sakai_label {
    height: 2em;
    display:inline-flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    padding: 0 calc(#{$standard-spacing}/2);
    text-align: center;
    vertical-align: middle;
    font-weight:500;
    background:none;
    font-size:1em;
    text-decoration: none;
    align-items: center;
    line-height: inherit;
    color:$navy;
    border:none;
    &:hover,
    &:active {
        background: $royal-light;
        color: $royal;
        border-color:transparent;
    }
}
.label {
    @include sakai_label();
}
##{$namespace}footer--details__close {
    &:link, &:visited, &:focus, &:hover, &:active {
        outline: 0 none;
    }
}
@mixin sakai_button($sb-text-color,
					$sb-background,
					$sb-border-color,
					$sb-hover-text-color,
					$sb-hover-background,
					$sb-hover-border-color,
					$sb-active-text-color,
					$sb-active-background,
					$sb-active-border-color) {
	display: inline-block;
	margin: 0;
	padding: calc(#{$standard-spacing/2}) $standard-spacing;
	border: 1px solid $sb-border-color;
	@include border-radius($button-radius);
	background: $sb-background;
	font-family: $font-family;
    font-size: 1em;
    font-weight:500;
    letter-spacing: .0178571429em;
	line-height: 18px;
	color: $sb-text-color;
	text-decoration: none;
	text-transform: $button-text-transform;
	cursor: pointer;
	@include appearance(none);
	box-shadow: none;
	&:before { // icon
		color: $sb-text-color;
	}
	&:hover, &:focus {
		color: $sb-hover-text-color;
		text-decoration: none;
		background: $sb-hover-background;
		border-color: $sb-hover-border-color;
		box-shadow: none;
		&:before { // icon
			color: $sb-hover-text-color;
		}
	}
    &:focus {
        box-shadow: $button-active-shadow;
        outline: 0 none;
        outline-offset: 0;
        border: 1px solid $dodger;
        
    }
	&:active {
		outline: 0;		// no focus outline on click
		color: $sb-active-text-color;
		text-decoration: none;
		background: $sb-active-background;
		border-color: $sb-active-border-color;
		box-shadow: $button-active-shadow;
		&:before { // icon
			color: $sb-active-text-color;
		}
	}

	&[disabled="disabled"], &[disabled], &[disabled="true"], &[class="disabled"] {
		&, &:hover, &:active, &:focus {
			color: $button-disabled-text-color;
			text-decoration: none;
			background: $button-disabled-background;
			border-color: $button-disabled-border-color;
			box-shadow: $button-disabled-shadow;
			cursor: not-allowed;
		}
	}
}
// the primary button is the primary action task at hand (as opposed to secondary actions that are less utilized)
@mixin sakai_primary_button() {
	@include sakai_button(	$button-primary-text-color,
							$button-primary-background,
							$button-primary-border-color,
							$button-primary-hover-text-color,
							$button-primary-hover-background,
							$button-primary-hover-border-color,
							$button-primary-active-text-color,
							$button-primary-active-background,
							$button-primary-active-border-color);
}

// the standard button design for non-primary action buttons (opposite of sakai_primary_button above)
@mixin sakai_secondary_button() {
	@include sakai_button(	$button-text-color,
							$button-background,
							$button-border-color,
							$button-hover-text-color,
							$button-hover-background,
							$button-hover-border-color,
							$button-active-text-color,
							$button-active-background,
							$button-active-border-color);
}
//remake buttons using new mixin
button.btn-primary, .act .active, .button_color,
input[type="submit"].question-submit:not(.showPollGraph), .linkCell .addStudentContent,
input[type="submit"].setStudentZero,
.#{$namespace}sakai-lessonbuildertool a.ui-button:link {
    @include sakai_primary_button();
    margin-right: $standard-spacing;
}

button, .button, a[href].button, button.ui-state-default,
.btn-group .btn, .btn.btn-default, .button.link, a.btn-link,
button.btn-link, input[value="Clear"], input[value="Cancel"],
input[type="submit"].question-submit.showPollGraph {
	@include sakai_secondary_button();
}

select,
.select {
    border-color:$granite;
}