@import "defaults";
@import "extendables";
///////////////////////////////////
// mainheader 
//////////////////////////////////
.#{$namespace}mainHeader{
    box-shadow:none;
    @media #{$phone}{
        &>* {
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
        }
        .#{$namespace}headerLogo,
        #mastLogin,
        .#{$namespace}skipNav__menu,
        .#{$namespace}skipNav__menu.moving {
            width:auto;
            position:fixed;
        }
    }

    .#{$namespace}headerLogo {
        @media #{$phone}{
            width:100%;
            padding:0;
        }
        .#{$namespace}headerLogo--institution {
            margin-left: 52px;
            @media #{$phone}{
                margin-left: calc(50% - #{$logo-width}/2);
            }
        }
    }
    .#{$namespace}topHeader #mastLogin {
        @media #{$phone}{
            right:$standard-spacing;
        }
        .#{$namespace}userNav {
            padding:0;
            margin-left:$standard-spacing;
        }
        #loginUser.has-avatar,
        #loginUser.no-avatar {
            border:2px solid $royal-light;
            border-right-color: $royal-light;
            border-bottom-color: $graphite;
            border-left-color:$copper;
            border-radius: 50%;
            background:$white;
            .#{$namespace}userNav__submenuitem--username,
            .#{$namespace}userNav__submenuitem--userid {
                padding:2px;
                span.textlink {
                    display:none;
                }
            }
            .#{$namespace}userNav__submenuitem--profilepicture {
                margin:0;
                &:hover, &:active {
                    text-shadow: none;
                    margin-left:0;
                    box-shadow: none;
                }
            }
            &:active, &:hover {
                border-color:$royal-light;
                .#{$namespace}userNav__submenuitem--profilepicture {
                    box-shadow: none;
                }
            }
        }
        #loginLinks {
            border:none;
            @media #{$phone}{
                padding:0;
            }
        }
        .portal-bullhorns-buttons{
            border:none;
            top:-4px;
            padding:0;
            @media #{$phone}{
                display: none;
            }

            ##{$namespace}social-bullhorn,
            ##{$namespace}academic-bullhorn{
                padding:4px 10px;
                margin-left:$standard-spacing;

                &:hover, &:active {
                    background: $topNav-hover-background;
                    color:$topNav-hover-text-color;
                    border-radius: 50%;
                    text-shadow: none;
                    i {
                        text-shadow: none;
                    }
                }
            }
        }
        ##{$namespace}social-bullhorn {
            margin-top:-4px;
            a {
                padding: 4px 10px;
                &:hover, &:active {
                    background: $topNav-hover-background;
                    border-radius: 50%;
                    text-shadow: none;
                    i {
                        text-shadow: none;
                    }
                }
            }
        }
        ##{$namespace}academic-bullhorn {
            .icon-sakai--academic-bullhorn {
                padding-right:0;
            }
        }
        .view-all-sites-btn {
            margin-top:-7px;
            padding:0;
            margin-left:$standard-spacing;
    
            a {
                display: inline-block;
                padding: 4px 10px;
                &:active,
                &:hover {
                    color: $topNav-hover-text-color;
                    background: $topNav-hover-background;
                    border-radius: 50%;
                    text-shadow: none;
                    i {
                        text-shadow: none;
                    }
                }
            }
            .all-sites-label {
                display: none;
            }
            .all-sites-icon {
                padding:0;
            }
        }
    }
}

///////////////////////////////////
// Left hand Tool Menu 
//////////////////////////////////

.#{$namespace}skipNav__menu,
.#{$namespace}skipNav__menu.moving {
    @media #{$phone}{
        display:flex;
        justify-content: space-between;
        width: calc(100% - 52px - calc(#{$standard-spacing / 2}));
        position: fixed;
        top:0;
        left: 0;
        z-index: 21;
        box-shadow: none;
        height:52px;

        li {
            display: flex;

            &.#{$namespace}skipNav__menuitem.#{$namespace}skipNav__menuitem--worksite,
            &.#{$namespace}skipNav__menuitem.#{$namespace}skipNav__menuitem--tools {
                background: transparent;
                box-shadow: none;
                float:none;

                a {
                    color: $topNav-text-color;
                    padding:0;
                    
                    &:before,
                    &:after {
                        border:none;
                    }
                    &.manage-overview-link-mobile {
                        margin-left: $standard-spacing;
                        width:75px;
                        overflow: ellipses;
                        display:inline-block;
                    }
                }
            }
            &.#{$namespace}skipNav__menuitem.#{$namespace}skipNav__menuitem--tools {
                order:1;
                justify-content: space-between;
                a {
                    display: flex;
                    float:none;

                    &.js-toggle-tools-nav {
                        text-overflow: clip;
                        width:52px;
                        min-height:52px;
                        font-size:24px;
                        background:$tool-menu-collapse-background-color;
                        
                    }
                    &.#{$namespace}skipNav--toolName{
                        display: none;
                        color:$topNav-text-color;
                        height:52px;
                        line-height:52px;
                        text-overflow: ellipsis;
                        span {
                            margin-left: calc(#{$standard-spacing} / 4);
                        }
                    }
                    &.manage-overview-link-mobile {
                        color: $white;
                    }
                }

                .tools-icon {
                    padding: calc(#{$standard-spacing} * .88) $standard-spacing calc(#{$standard-spacing / 2}) ;
                }

                .#{$namespace}breadcrumb--icon {
                    display: flex;
                    line-height: 52px;
                }
            }
            &.#{$namespace}skipNav__menuitem.#{$namespace}skipNav__menuitem--worksite {
                width:52px;
                order:3;
                a {
                    background:none;
                    text-overflow: clip;
                    float:none;
                    border:none;
                }
                .all-sites-icon {
                    width:52px;
                    min-height:52px;
        
                    padding: $standard-spacing $standard-spacing calc(#{$standard-spacing / 2});
                    font-size:24px !important;
                    
                }
            }
            &.Mrphs-skipNav__menuitem--content,
            &.Mrphs-skipNav__menuitem--accessibility {
                display:none;
            }
        }
    }
}
#toolMenuWrap {
    @media #{$nonPhone}{
        border-right:none;
        position: absolute;
        top:calc(52px);
        padding:calc(#{$standard-spacing}) 0 0;
        background:$tool-menu-item-background-color;

        #toolMenu,
        #subSites {
            ul {
                li {
                    border:none;
                    &:first-of-type a {
                        border-top:none;
                    }
                    &.is-current{
                        margin-right:0;
                        .#{$namespace}toolsNav__menuitem--link .#{$namespace}toolsNav__menuitem--title {
                            font-weight:400;
                        }
                    }
                    body &.has-lessons-sub-pages {
                        .lessons-top-level-placeholder {
                            .lessons-goto-top-page {
                                padding:0;
                            }
                            .lessons-expand-collapse-icon {
                                padding:0;
                                width:18px;
                            }
                        }
                        ul {
                            li {
                                padding:0;
                                background:transparent;
                                a {
                                    padding: calc(#{$standard-spacing}/2);
                                    padding-left: calc(#{$standard-spacing}*4);

                                }
                            }
                        }
                    }
                    &.#{$namespace}collapseTools {
                        top:0;
                        left:0;
                        bottom:auto;
                        box-shadow:none;
                        width: 52px;
                        height: 52px;
                        z-index:1001;
                        &:active,
                        &:hover {
                            button span.fa-angle-double-left {
                                color: $tool-menu-collapse-hover-text-color;
                            }
                            
                        }
                        &.min {
                            display: flex;
                            width:52px;
                            box-shadow: none;
                            
                        }
                        button:hover,
                        button:active {
                                box-shadow: none;
                            }
                        button:active{
            
                        }
                        button.js-toggle-nav {
                            width:52px;
                            height:52px;
                            span.fa-angle-double-left {
                                &:before {
                                    content: "\f0c9"
                                }
                                
                            }
                        }
                    }
                    .#{$namespace}toolsNav__menuitem--link {
                        padding:calc(#{$standard-spacing}/2) $standard-spacing;
                        margin: 0 calc(#{$standard-spacing}*2) 0 0;
                        border-radius: 0 20px 20px 0;

                        .#{$namespace}toolsNav__menuitem--title {
                            width:100%;
                        }
                        &.is-invisible{
                            &:after {
                                margin-right:0;
                            }
                        }
                        
                    }
                    .lessons-sub-page-menu {
                        li {
                            border-radius: 0 20px 20px 0;
                        }
                    }
                }
            }
        }
    }
}

body.#{$namespace}toolMenu-collapsed {
    #pageBody>.#{$namespace}pagebody,
    #topnav_container {
        margin-left:#{$tool-menu-width-collapsed};
        width: calc(100% - #{$tool-menu-width-collapsed} - #{$standard-spacing});
    }
    #toolMenuWrap {
        @media #{$nonPhone}{
            #toolMenu,
            #subSites:not(.floating) {
                ul {
                    li {
                        .#{$namespace}toolsNav__menuitem--link {
                            margin:0;
                            padding:calc(#{$standard-spacing}/2) $standard-spacing;
                            border-radius: 0;
                            &:hover,
                            &:focus {
                                .#{$namespace}toolsNav__menuitem--title {
                                    left: 42px;
                                    min-width: 140px;
                                    border-radius: 0 20px 20px 0;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

///////////////////////////////////
// Favorite Sites
//////////////////////////////////
#linkNav{
    #topnav_container{
        padding:0;
        ul {
            border-left:1px solid $limestone;
            margin:0 0 0 calc(#{$tool-menu-width});
            padding: calc(#{$standard-spacing}) calc(#{$standard-spacing}*2) 0;

            .#{$namespace}toolMenu-collapsed & {
                margin-left:0;
            }
            li {
                &.#{$namespace}sitesNav__menuitem{
                    background:$sites-nav-menu-item-background;
                    border-radius:16px;
                    &.is-selected{
                        background:$sites-nav-menu-item-selected-background;
                    }
                    &>a.link-container {
                        border-radius: 16px;
                    }
                    .#{$namespace}sitesNav__drop,
                    .#{$namespace}sitesNav__dropdown{
                        border-radius: 16px;
                    
                    }
                    ul {
                        top:32px;
                        padding:0;
                        margin:0;
                    }
                }
            }
        }
    }
}

/////////////////////////////////////////
// Breadcrumbs Styles
//////////////////////////////////////////
.#{$namespace}siteHierarchy{
    background: $body-background-color;
    padding:$standard-spacing calc(#{$standard-spacing}*2);
    border-bottom:1px solid $limestone;
    a.#{$namespace}hierarchy--toolName {
        font-weight: 400;
        text-transform: none;
        border: 1px solid $body-background-color;
        padding: calc(#{$standard-spacing} / 4); 
        padding-left:0;
        border-radius: $button-radius;
        &:hover, &:active, &:focus {
            background:$royal-light;
            text-decoration: none;
            
            .#{$namespace}breadcrumb--toolNameText {
                text-decoration: none;
                &:hover, &:active, &:focus {
                    text-decoration: none;
                }
            }
        }
    }
    @media #{$phone} {
        border:none;
        padding: $standard-spacing;
    }
    .manage-overview-link {
        margin-top:0;
    }
}
/////////////////////////////////////////
// pagebody Styles
//////////////////////////////////////////
#pageBody {
    border-top:1px solid $limestone;
}
#content {
    .#{$namespace}pageColumns {
        display: flex;
        align-content: space-between;
        flex: 0 1 auto;
        flex-direction:column;
        justify-content: space-between;

        &#col1{
            
            .#{$namespace}container {
                margin: $standard-spacing calc(#{$standard-spacing}*2);

            }
        }
        
        &#col1of2,
        &#col2of2 {
            margin:0;
            width:50%;
            @media #{$tablet}{
                width:100%;
            }
            
        }
        &#col1of2 {
            .#{$namespace}container {
                margin: calc(#{$standard-spacing}*2);
                margin-right:$standard-spacing;
            }
        }
        &#col2of2 {
            .#{$namespace}container {
                margin: calc(#{$standard-spacing}*2);
                margin-left:$standard-spacing;
            }
        }
        .#{$namespace}container {
            
            border:none;
            border-radius:$button-radius;
            padding:4px;

        }

    }
    //home overview only
    body.workspace &.#{$namespace}multipleTools{
        margin-top: -56px;
        @media #{$phone}{
            margin-top: 0;
        }
        #col1 {
            flex-wrap:wrap;
            flex-direction:row;
            padding:0 calc(#{$standard-spacing}*2) calc(#{$standard-spacing}*2);
            @media #{$phone}{
                padding:$standard-spacing;
            }
            .#{$namespace}container {
                margin:$standard-spacing 0;
                width:48%;
                @media #{$phone}{
                    width:100%;
                }
            }
            .#{$namespace}sakai-motd {
                width:100%;
                box-shadow: none;
                padding:0;
                margin:0 -4px calc(#{$standard-spacing*-4});
            }
        }
        
        
        
        
    }
}

#pageBody>.#{$namespace}pagebody {
    margin-left:#{$tool-menu-width};
    border-left:1px solid $limestone;
    width: calc(100% - #{$tool-menu-width});
    @media #{$phone}{
        margin:0;
        width:100%;
    }
}

/////////////////////////////////////////
// .toolTitleNav Styles
//////////////////////////////////////////
#content {
    .#{$namespace}pageColumns {
        &.#{$namespace}pageColumns--single {
            .#{$namespace}toolTitleNav__button_container {
                margin-top:-106px;
            }
        }
        .#{$namespace}toolTitleNav__title {
            color: $castiron;
            font-weight: 500;
            font-size: 1.25em;
        }
        .#{$namespace}toolTitleNav__link {
            text-transform:uppercase;
        }
    }
    .#{$namespace}container--toolTitleNav {
        margin:0;
    }
}

// hide on Home Overview only
body.workspace{
    .#{$namespace}multipleTools #col1{
        .#{$namespace}sakai-motd {
            .#{$namespace}toolTitleNav {
                display:none;
            }
        }
        .#{$namespace}toolTitleNav{
            padding-bottom:0;
            
        }
        .#{$namespace}toolTitleNav__button_container.home{
        display:none;
        }
        .#{$namespace}toolTitleNav__title {
            margin-bottom: $standard-spacing;
        }
        .#{$namespace}toolTitleNav__link--inline {
            text-decoration: none;
            color:$castiron;
            
            &:hover,
            &:active {
                cursor: default;
                color:$castiron;
                text-decoration: none;
            }
        }
    }

}

/////////////////////////////////////////
// .navIntraTool Styles
//////////////////////////////////////////
.navIntraTool {
    background: $body-background-color;

    li {
        span {
            margin-bottom: calc(#{$standard-spacing});
            &.current {
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: .0178571429em;
                &:hover {
                    background:$tool-tab-hover-background-color;
                }
                &:before {
                    border-top:0;
                }
                &:after{
                    border-bottom: 2px solid $tool-tab-active-highlight-color;

                }
            }
            a {
                font-weight: 500;
            }
        }
    }
}

//////////////////////////////////
// Home Overview Portlets
/////////////////////////////////
// MOTD
.#{$namespace}sakai-motd {

    .portletMainIframe {
        padding:0;
    }
    
}

body>.portletBody {
    background:none;
    
    &>.synopticList{
        list-style: none;
        padding:4px;
        margin:-4px 0;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        
        li {
            margin:0;
            width:31%;
            @media #{$phone}{
                width:100%;
            }
            .textPanel{
                border-radius: $button-radius;
                background: $tool-background-color;
                border:none;
                margin:0;
                min-height:380px;
                box-shadow: $card-shadow;

                h1, h2, h3, h4 {
                    background:$tool-background-color;
                    color: $castiron;
                    font-weight: 500;
                    font-size: 1.25em;
                    margin:0 0 $standard-spacing;
                    border:none;
                    line-height: 1.5em;
                    padding:0 $standard-spacing;
                    min-height:52px;
                }
                p {
                    letter-spacing: .0178571429em;
                    color: rgba(0,0,0,.54);
                    padding:0 $standard-spacing;
                    margin:0 0 $standard-spacing;
                }

                .img-responsive {
                    margin: 0 -#{$standard-spacing};
                    max-width:calc(100% + (2*#{$standard-spacing}));
                    border-radius: $button-radius $button-radius 0 0;
                }
                .btn-link {
                    padding: calc(#{$standard-spacing}/2) $standard-spacing;
                    margin-left: calc(-#{$standard-spacing}/2);
                    text-decoration: none;
                    box-shadow: none;
                    background:none;
                    text-transform: uppercase;
                    font-weight: 500;
                    border:none;

                    &:hover,
                    &:active {
                        background:$royal-light;
                        text-decoration: none;
                        color:$royal;
                    }
                }
            }
        }
    } 
}

// Calendar Portlet
.#{$namespace}calendarSynoptic {
    .calRight {
        input[value=" < "],
        input[value=" > "] {
            @include sakai_label();
            border-radius: 50%;
            font-size:1.25em;
            padding: 0 6px;

            &:hover,
            &:active {
                // background: $gallery;
                border-color:transparent;
            }
        }
        input[value="Today"] {
            @include sakai_label();
            margin:0 calc(#{$standard-spacing}/2);
        }
    }
}
// Announcement Portlet
body.workspace .#{$namespace}multipleTools{
    .#{$namespace}toolBody--sakai-synoptic-announcement {
        .portletMainIframe {
            padding-top:0;
        }
    }
}
// RSS Portlet
body.workspace .#{$namespace}multipleTools{
    .#{$namespace}toolBody--sakai-simple-rss {
        .news-source {
            display:none;
        }
        .news-items {
            ul {
                padding-left:$standard-spacing;
            }
            h3 {
                font-size: 14px;
                font-weight:500;
            }
        }
    }
}

/////////////////////
// BECOME USER
////////////////////
body.become-user {
    .#{$namespace}mainHeader .#{$namespace}headerLogo {
        background: $ironweed;
    }
}
////////////////////////////////////////////
// distinguish different servers visually
////////////////////////////////////////
body.dukedev-longsight-com {
    .#{$namespace}mainHeader .#{$namespace}headerLogo--institution {
        &:after {
            content: "DEV SERVER";
            background: $dandelion;
            padding: 4px;
            font-weight: 700;
            color: $castiron;
            font-size:.8em;
        }
        
    }
}
body.sakai-test-duke-edu {
    .#{$namespace}mainHeader .#{$namespace}headerLogo--institution {
        &:after {
            content: "TEST SERVER";
            background: $piedmont;
            padding: 4px;
            font-weight: 700;
            color: $castiron;
            font-size:.8em;
        }
        
    }
}
////////////////////////////////////////////
// Resources styles
////////////////////////////////////////
.#{$namespace}sakai-resources {
    .breadcrumb {
        padding:$standard-spacing;
    }
}
////////////////////////////////////////////
// Lessons styles
////////////////////////////////////////
.#{$namespace}sakai-lessonbuildertool {
    #content .#{$namespace}pageColumns &{
        padding:0;
    }
    .mainList div:hover.canEdit {
        background:$body-background-color;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
    .navIntraTool {
        border-bottom:1px solid $limestone;
        #toolbar {
            margin:0;
        }
        li span a {
            border-bottom:none;

        }
    }
    .column {
        border-color:transparent;
        border-radius:0;
        padding-top:0;
    }
    .sectionCollapsedIcon {
        display:none !important; //JS somewhere applying inline display styles...
    }
    .collapsibleSectionHeader .collapseIcon {
        float:left;
        margin-right: $standard-spacing;
        font-size:24px;
        margin-top:-3px;
        &.fa-toggle-down:before {
            content: "\f0da";
        }
        &.fa-toggle-up:before {
            content: "\f0d7";
        }
    }
    .subpage-breadcrumb-div {
        margin:-114px 0 calc(114px - #{$standard-spacing} - 21px - #{$standard-spacing});
        padding: calc(#{$standard-spacing}) 0;
        background:$white;
        position: relative;
        display: flex;
        max-width: calc(100% - 586px - #{$standard-spacing}); //account for the width of toolTitleNav
    }
    .startupHelp {
        margin-top:0;
    }
    //change blue background elements
    .column .commentDiv,
    .column .studentContentTable,
    .column .questionDiv .contentCol,
    .column .checklistDiv,
    .column .forumSummaryHeaderDiv,
    .column .announcementsHeaderDiv,
    .column .fc-toolbar {
        background: $royal-light;
        color:$castiron;
        border-radius: $button-radius;
    }
    .checklist-checkbox-label {
        padding:.5em;
    }
    .checklist-checkbox ~ span.checklist-checkbox-label{
        background-image:none;
        &:before {
            font-size: 16px;
            font-weight: normal;
            font-family: FontAwesome;
            content: "\f096";
            margin-right: .5em;
            width:1em;
        }
    }
    label.checklistLabel:hover .checklist-checkbox ~ span.checklist-checkbox-label,
    label.checklistLabel:hover .checklist-checkbox:checked ~ span.checklist-checkbox,
    label.checklistLabel:hover .checklist-checkbox:checked ~ span.checklist-checkbox-label,
    .checklist-checkbox:checked ~ span.checklist-checkbox-label {
        background-image:none;
        &:before {
            font-size: 16px;
            font-weight: normal;
            font-family: FontAwesome;
            content: "\f046";
            margin-right: .5em;
            width:1em;
        }
    }
    .saveChecklistSuccess {
        background: $ok-background-color;
        color: $ok-color;
        &:before {
            font-size: 16px;
            font-weight: normal;
            font-family: FontAwesome;
            content: "\f058";
            margin-right: .5em;
        }
    }
    .checklistSaveMessage {
        padding: 4px;
    }
    input[type="submit"].question-submit.showPollGraph {
        &:hover {
            background: rgba(0,0,0,.1);
        }
    }
    .edit-col {
        a.ui-button:link,
        .add-link{
            border:none;
            background:#eee;
            padding: calc(#{$standard-spacing}/2);
            margin:0 calc(#{$standard-spacing}/4);
            &:hover {
                border:none;
                background: rgba(0,0,0,.1);
            }
        }
    } 
}


////////////////////////////////////////////
// Gradebook styles
////////////////////////////////////////
.#{$namespace}sakai-gradebookng {
    
    #gradebookGradesToolbar {
        background:$body-background-color;
    }
    .gradeTableOuterWrapper {
        overflow:hidden;
    }
    #gradeTableWrapper {
        background:$body-background-color;
        .gb-title {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
.gb-add-gradebook-item-button,
.gb-create-or-save {
    margin-right:0;
}
////////////////////////////////////////////
// Forums styles
////////////////////////////////////////
.#{$namespace}sakai-forums {
    .topicBlocLone {
        border:none;
        background:$tool-background-color;
        color:$castiron;
        padding:0;
        margin:0 0 $standard-spacing;
    }
    .portletBody {
        background:none;
    }
    #msgForum {
        //breadcrumbs on forum, conversation, and thread pages
        div.specialLink,
        .navPanel {
            margin:-114px 0 calc(114px - 48px);
            padding: 0;
            background:$white;
            position: relative;
            display: flex;
            
            @media #{$phone}{
                margin:0;
            }
            h1 {
                margin:0;
                padding: $standard-spacing 0;
            }
        }
        .itemNav {
            
            top:-86px;
            right:170px;
            
            @media #{$tablet}{
                top:-86px;
                right:98px;
            }
            
            .button {
                padding:.6em;
                &.formButtonDisabled{
                    color: $button-disabled-text-color;
			        background: $button-disabled-background;
			        border-color: $button-disabled-border-color;
			        box-shadow: $button-disabled-shadow;
                } 
            }
        }
        @media #{$phone} {
            .itemNav{
                display:none;
            }
            .specialLink .itemNav {
                display:table;
            }
            
        }
        //breadcrumbs on message page
        .navPanel {
            margin:-80px -15px calc(80px - 54px);
            max-width: 70%;
            h3 {
                display: flex;
                align-items: flex-start;
                display: inline-block;
                    flex: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 100%;
                    white-space:nowrap;
                a{
                    
                }
            }
        }
    }
}
////////////////////////////////////////////
// Footer styles
////////////////////////////////////////
.#{$namespace}container--footer{
    .#{$namespace}footer{
        padding:$standard-spacing calc(#{$standard-spacing}*2);
    }
    .#{$namespace}footer--project {
        display:none;
    }
}
