@import "defaults";

.#{$namespace}mainHeader .#{$namespace}headerLogo .#{$namespace}headerLogo--institution {
    margin-left: 36px;
}
#toolMenuWrap {
    border-right:none;
    margin-top: -70px;
}
#toolMenu ul li:first-of-type a, #subSites ul li:first-of-type a {
    border-top:none;
}
#linkNav ul
.#{$namespace}siteHierarchy{
    background: $background-color;
    display:none;
}
.#{$namespace}mainHeader{
    box-shadow:none;
}


#topnav_container {
    margin-left: $tool-menu-width;
    .#{$namespace}toolMenu-collapsed & {
        margin-left:0;
    }
}
#toolMenu ul li.Mrphs-collapseTools,
#subSites ul li.Mrphs-collapseTools {
    top:0;
    left:0;
    bottom:auto;
    box-shadow:none;
    width: 52px;
    height: 52px;
    z-index:1001;
    background:$dodger;

    &.min {
        display: flex;
        width:52px;
    }
    button.js-toggle-nav {
        width:52px;
        height:52px;
        span.fa-angle-double-left {
            color:$white;
            &:before {
                content: "\f0c9"
            }
        }
    }
}
body.#{$namespace}toolMenu-collapsed{
    #toolMenuWrap{
        // margin-left:calc(#{$tool-menu-width-collapsed} * -1);
    }
}

.#{$namespace}mainContent {
    background: $white;
    &.#{$namespace}multipleTools {
        background: $alabaster;
    }
}
body.workspace {
    .#{$namespace}siteHierarchy {
        display:none;
    }
    .#{$namespace}sakai-siteinfo,
    .#{$namespace}sakai-sitesetup {
        #siteTypeList {
            width: 50%;
        }
    }
    .#{$namespace}multipleTools {
        .#{$namespace}pageColumns--single{
            display:flex;
            flex-wrap:wrap;
            justify-content: flex-start;
            .#{$namespace}container {
                    width: 46%;
                    border:none;
                    margin:$standard-spacing;
            }
            .#{$namespace}sakai-motd {
                width:95%;
                .#{$namespace}toolTitleNav {
                    display:none;
                }
            }
        }
        .#{$namespace}toolTitleNav__button_container.home{
            display:none;
        }
        .#{$namespace}toolTitleNav{
            padding-bottom:0;
            .#{$namespace}toolTitleNav__title {
                color: $castiron;
                font-weight: 500;
                font-size: 1.25em;
            }
        }
    }
}
.#{$namespace}toolBody--sakai-motd .portletMainIframe {
    padding:0;
    .textPanel {
        padding: $standard-spacing;
    }
}
.motd-content {
    padding:0 $standard-spacing;
    .row {
        margin-left:-$standard-spacing;
        margin-right:-$standard-spacing;
    }
    h1 {
        color: $castiron;
        font-weight: 500;
        font-size: 1.25em;
        margin:1em 0;
    }
    .label {
        margin-right:$standard-spacing;
        margin-left: -.6em;
        background:none;
        font-size:1em;
        text-decoration: none;
        text-transform: uppercase;
    }
    .label-primary {
        &:hover,
        &:active {
            background:$royal-light;
            text-decoration: none;
        }
    }
}