@import "duke";
// SAK-40006 CK Editor full screen bug
.cke_inner.cke_reset.cke_maximized {
	position: fixed !important; 
}
#topnav_container {
	display:none;
}
.#{$namespace}topHeader {
	
	.view-all-sites-btn {
		a {
			margin-top: 6px;
		}
	}
	.fa-user-secret {
		color:$klein;
	}
}
#mastLogin {
	.all-sites-label,
	.has-avatar .#{$namespace}userNav__submenuitem--username {
		display: none;
	}
	.has-avatar .#{$namespace}userNav__submenuitem--profilepicture {
		border:2px solid #fff;
		margin:0;
	}
	#loginUser {
		border-radius:50%;
		border:2px solid $klein;
		border-right-color:$klein;
		border-bottom-color: $california;
		border-left-color:$california;
	}
}
#linkNav {
	ul {
		li {
			&.#{$namespace}sitesNav__menuitem {
				border-radius:$button-radius;

				> a.link-container {
					padding-right:32px;
				}
				&.#{$namespace}sitesNav__menuitem--myworkspace {
					a.#{$namespace}sitesNav__dropdown {
						padding:0;
					}
					.fa-home {
						padding-right: 4px;
					}
				}
			}
			
			
		}
	}
}
#selectSite,
#selectQuickLink  {
	.tab-bar {
		.tab-btn{
			background:$background-color;
			border-color:$background-color;
			&.active{
				background:$white;
			}
		}
	}
}
#toolMenuWrap {
	border-right:none;
	box-shadow: $overview-portlet-shadow;
	margin:1em .5em 1em 1em;
	padding:0;
}
#toolMenu,
#subSites,
.floatingToolMenu {
	ul {
		li {
			.#{$namespace}toolsNav__menuitem--link {
				&.is-invisible {
					.#{$namespace}toolsNav__menuitem--icon {
						font-style: normal;
					}
				}
			}
		} 
	} 
} 
@media only screen and (min-width: 801px) {
	.#{$namespace}collapseTools button.js-toggle-nav {
		text-align: center;
	}
}

#toolMenu,
#subSites,
.floatingToolMenu {
	ul {
		li {
			list-style-type: none;
			&.is-current {
				margin-right:0;

				.#{$namespace}toolsNav__menuitem--link {
					.#{$namespace}toolsNav__menuitem--title {
						font-weight: 400;
					}
				}
			}
			&.#{$namespace}collapseTools {
				margin:1em;
			}
			.#{$namespace}toolsNav__menuitem--link {
				&.is-invisible{
					font-style:normal;
					&::after{
						top:13px;
					}
				}
			}
		}
	}
}


.navIntraTool {
	// border-bottom:none;
	background: $background-color;
	margin-left:-15px;
	//target tools without 'default tabs'
	.#{$namespace}sakai-siteinfo &,
	.#{$namespace}sakai-chat &,
	.#{$namespace}sakai-forums &,
	.#{$namespace}sakai-mailbox &,
	.#{$namespace}sakai-messages &,
	.#{$namespace}sakai-poll &,
	.#{$namespace}sakai-postem &,
	.#{$namespace}sakai-signup &,
	.#{$namespace}sakai-sitestats &,
	.#{$namespace}sakai-syllabus &,
	.#{$namespace}sakai-rwiki & {
		border-top: 1px solid rgba(0,0,0,0.05);
	}
	li {
		
		span {
			
			&.current{
				border-bottom:none;
    			border-left:1px solid rgba(0,0,0,0.1);
				border-right:1px solid rgba(0,0,0,0.1);
				&::before {
					border-radius:$button-radius $button-radius 0 0;
					border-top-color: $endeavour;
				}
				a {
					
					&:hover {
						background:$white;
						&::before{
							top:-2px;
							border-top-color: $endeavour;
						}
					}
				}
			}
			a {
				background:$background-color;
				border-color:$background-color;
			}
		}
	}
}

.#{$namespace}siteHierarchy{
	background: $background-color;
	display: none;
}
.#{$namespace}mainHeader{
	box-shadow: $overview-portlet-shadow;
	&.is-maximized{
		.siteNavWrap{
			box-shadow: none;
		}
	}
}
#selectSite,
#selectQuickLink {
	.tab-bar{
		.tab-btn.active {
			border-radius: $button-radius;
		}
	}
}

.#{$namespace}toolTitleNav {
	.#{$namespace}toolTitleNav__link {
		.#{$namespace}itemTitle {
			display: none;
		}
	}
}
#content {
	padding-top:1em;
}
.portletBody {
	box-shadow: $overview-portlet-shadow;
}
.#{$namespace}multipleTools{
	.#{$namespace}container {
		border:none;
		.portletBody {
			box-shadow:none;
		}
	}
}
.#{$namespace}container--footer {
    background:none;
    box-shadow:none;
    border:none;
    margin-bottom: 1em;
}
.#{$namespace}footer {
	background:$white;
    width:98%;
    margin-left: 1%;
	box-shadow: $overview-portlet-shadow;
}
input[name="cancel"],
input[name="Cancel"],
input[value="Cancel"],
input[value="Clear"],
input[value="Back"]{
	background:	#888;
	border-color: #808080;
	&:hover{
		background: $scorpion;
		border-color: darken($scorpion, 10%);
	}
}
.#{$namespace}siteStatus{
	&.is-unpublished {
		margin:0 0 2.4em 1em;
		width:98%;
	}
}
//////////////////////////////////////////////
// SWAPPED View
//////////////////////////////////////////////
@if $swapped-view-enabled {
	.#{$namespace}portalWrapper{
		color: $swapped-view-text-color;
		&.swapped-view{
			.#{$namespace}topHeader{
				background: $swapped-view-primary;
			}
			.#{$namespace}headerLogo{
				background: $swapped-view-primary;
			}
			.#{$namespace}siteHierarchy{
				background: $background-color;
				color: $mine-shaft;
				a {
					color: $endeavour;
				}
			}
			.#{$namespace}mainHeader.is-maximized .siteNavWrap{
				background: $swapped-view-sites-nav-background;
			}
		}
	}
}

//////////////////////////////////////////////
// WORKSPACE / HOME
//////////////////////////////////////////////
.workspace {
	// Hides breadcrumbs in HOME
	// .#{$namespace}pagebody,
	// #toolMenuWrap {
	// 	margin-top:2em;
	// }
	// .navIntraTool {
	// 	padding-right:10%;
	// }
	// .#{$namespace}siteHierarchy {
	// 	a.#{$namespace}hierarchy--toolName {
	// 		display:none;
	// 	}
	// }
	// .#{$namespace}pageColumns--single {
	// 	.#{$namespace}toolTitleNav__button_container {
	// 		top: 0;
	// 		z-index:2;
	// 	}
	// }
	// END Hides breadcrumbs
	.#{$namespace}pageColumns--single {
		.#{$namespace}toolTitleNav__button_container{
			right:0;
		}
	}
	.#{$namespace}multipleTools {
		.#{$namespace}toolTitleNav {
			.#{$namespace}toolTitleNav__title {
				font-size:1em;
			}
			.#{$namespace}container--toolTitleNav {
				padding: .6em 1em;
			}
			.#{$namespace}toolTitleNav__button_container {
				right:14px;
			}
		}

		.#{$namespace}sakai-simple-rss {
			.news-feed {
				padding: 14px;
				.news-items h3 {
					font-size:16px;
				}
				.news-items ul {
					padding:0;
				}
			}
			.#{$namespace}toolTitleNav__title a {
				color:#353535;
				text-decoration:none;
			}
			.news-source {
				display: none;
			}
		}
	}
	// Hide message of the day options
	// a[title="Message of the Day Options"]{
		
	// }
}

//////////////////////////////////////////////
// LESSONS STYLES
//////////////////////////////////////////////
$font-size-base: $default-font-size;
$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

#print-view {
	margin:1em .5em;
}
.#{$namespace}sakai-lessonbuildertool {
	box-shadow:0 1px 2px rgba(0,0,0,0.1);
	iframe {
		border:none;
	}
	.portletBody {
		box-shadow:none;
		margin:-2em 0 0;
		padding:0 2em;
	}
	.Mrphs-toolTitleNav {
		float:none;
		max-width:100%;
		width:100%;
		display:block;
		margin:0;
		border-bottom:1px solid rgba(0,0,0,0.05);
		background:white;
		.menuitem {
			margin:1em .5em;
			&:last-of-type {
				margin-right:1em
			}
		}
		.#{$namespace}toolTitleNav__link {
			margin:1em .5em;
			font-size: 14px;
			&:before {
				margin:0;
			}
			&.fa-list-ul {
				float:left;
				margin:1em 1em 1em 2em;
				.#{$namespace}itemTitle {
					display:inline;
					margin-left:5px;
				}
			}
			&.fa-print,
			&.#{$namespace}toolTitleNav__link--directurl,
			&.#{$namespace}toolTitleNav__link--help-popup{
				display:none;
			}
		}
		.button {
			font-size: 14px;
			&:last-of-type{
				background: $endeavour;
				color: $white !important;
			}
		}
		// .#{$namespace}toolTitleNav__link--help-popup:before {
		// 	margin:0 2px;
		// }
		.action,
		.bottomButtons{
			float:right;
			border-left:1px solid rgba(0,0,0,0.05);
			padding-left:1em;
		}
		.#{$namespace}toolTitleNav__button_container {
			display:inline-block;
			float:none;
		}
	}
	.navIntraTool {
		// display: none;
		background:none;
		&[role="application"]{
			margin:32px -32px 0 -32px; 
			min-height:32px;
			border-bottom:1px solid rgba(0,0,0,0.05);
			display:block;
		}
		
		#toolbar {
			margin:0;
		}
		li span a{
			border-bottom:none;
		}
	}
	.subpage-breadcrumb-div {
		clear:both;
	}
	.column {
		border:none;
	}
	.column .commentDiv,
	.column .studentContentTable,
	.column .questionDiv .contentCol,
	.column .checklistDiv,
	.column .forumSummaryHeaderDiv,
	.column .announcementsHeaderDiv,
	.column .fc-toolbar {
		background:none;
	}
	.questionDiv {
		border-bottom:1px solid #eee 
	}
	.questionDiv .contentCol,
	.checklistDiv{
		margin-top:1em;
		padding:0 0 1em 0;
	
	}
	.statusCol {
		margin:0 -16px 0 0;
	}
	.subpage-breadcrumb-div {
		margin: 0;
	}
	.right-col {
		padding:0;

		h1{
			font-size: $font-size-h1;
		}
		h2{
			font-size: $font-size-h2;
		}
		h3{
			font-size: $font-size-h3;
		}
		h4{
			font-size: $font-size-h4;
		}
		h5{
			font-size: $font-size-h5;
		}
		h6{
			font-size: $font-size-h6;
		}
	}
	.indent{
		margin:0;
	}
	.cols1, .column { 
		margin:0;
		padding:0;
		width:100% !important;
	}
	.ui-widget.ui-widget-content {
		font-size: 14px;
	}
} 
//////////////////////////////////////////////
//SAMIGO STYLES
//////////////////////////////////////////////
.#{$namespace}sakai-samigo {
	.navIntraTool {
		margin:-15px -15px 0 -15px !important; //important because morpheus default has it
	}
	#samigo-create-new-box,
	#samigo-create-import-box {
		color:$mine-shaft;
		h4 {
			color:$mine-shaft;
			font-weight:400;
			font-size:21px;
		}
	}
	ul.ui-tabs-nav{
		border:none;
		border-bottom:1px solid rgba(0,0,0,0.1);
		background:none;
	}
	.ui-tabs .ui-tabs-nav li.ui-tabs-active {
		background:$white;
		border:1px solid rgba(0,0,0,0.1);
		border-top:4px solid $dovegray;
		border-bottom:1px solid $white;
	}
	.ui-state-active a,
	.ui-state-active a:link,
	.ui-state-active a:visited {
		color:$mine-shaft;
	}
} 
//////////////////////////////////////////////
//GRADEBOOK STYLES
//////////////////////////////////////////////
.gb-summary-grade-flags {
	.gb-external-app-flag {
		&[aria-label$="Assignments"] {
			@extend .fa-file-text !optional;
		}
		&[aria-label$="Quizzes"] {
			@extend .fa-check-square-o !optional;
		}
		&[aria-label$="Forums"] {
			@extend .fa-comments !optional;
		}
	}
}
//////////////////////////////////////////////
//JOIN SITE STYLES
//////////////////////////////////////////////
.join {
	@extend .table !optional;
	.logo {
		@extend .#{$namespace}headerLogo--institution !optional;
	}
}

