## Header that shows institution and/or banner logos

<header role="banner" class="Mrphs-headerLogo">
    <div id="toolsNav-toggle-li" class="Mrphs-toolsNav__menuitem Mrphs-collapseTools #if ($toolsCollapsed) min #else max #end">
        <button type="button" aria-pressed="$toolsCollapsed" title="${rloader.sit_toggle_nav}" class="Mrphs-toggleNav js-toggle-nav btn-link  #if ($toolsCollapsed) min #else max #end">
            <span class="fa fa-lg fa-bars" aria-hidden="true"></span>
            <span class="sr-only">${rloader.sit_toggle_nav}</span>
        </button>
    </div>
    <span class="Mrphs-headerLogo--institution"></span>
    <span class="Mrphs-headerLogo--banner"></span>

    #parse("/vm/morpheus/includeLoginNav.vm")
</header>